
*::-webkit-input-placeholder { color: #a7a7a7; } *:-moz-placeholder { color: #a7a7a7; } *::-moz-placeholder { color: #a7a7a7; } *:-ms-input-placeholder { color: #a7a7a7; }


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: auto;
    line-height: 1.2em;
    overflow: hidden;
    padding: 20px;

    .title {
        display: block;
        color: $main-black;
        font-size: 0.9em;
        text-align: left;
        height: 40px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: $main-black;
        margin-bottom: 10px;
    }

    .name {
        margin: 10px 0 0;
        position: relative;
        width: 100%;
    }

    form {
        background: $main-white;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba(0, 2, 0, 0.8);

        input, textarea {
            display: block;
            width: 100%;
            margin: 0 0 20px;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 2px;
            background: #FFF;
            line-height: 1.5em;
            text-align: justify;
            font-family: 'Raleway', sans-serif;
            font-size: 0.9em;
            outline: 0;
            transition: border-color 0.3s ease-in-out;
            color: #333;

            &:focus {
                transition: border-color 0.3s ease-in-out;
                border-color: $main-black;
                background: rgba(255, 255, 255, .8);
            }
        }

        textarea {
            resize: none;
            height: 120px;
        }

        button {
            display: block;
            height: 40px;
            background: #fff;
            border: 1px solid $main-black;
            border-radius: 40px;
            cursor: pointer;
            color: $main-black;
            padding: 10px 0;
            outline: 0;
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: bold;
            margin: 0 auto;
            transition: all 0.25s;
            width: 40%;

            &:hover {
                color:white;
                background: $main-black;
                transition: all 0.25s;
            }

            &:active {
                color: darken($main-white, 20%);
                transition: all 0.25s;
            }

            &:after {
                content:"SUBMIT";
                letter-spacing: 2px;
            }
        }
    }
}
